Welcome to CurE
-> CurE gives you exchange rates of your currency in seconds..

Things to run in your local :

1. clone the github repo or download the code uploaded on drive.

2. Go to the project directory and run the cmd : npm ci.

3. Then run the cmd : npm run start

4: Open the port 3000 in your browser. (http://localhost:3000/)

Yeaa you can now see the project and see exchange rates.

Live Project Link : https://currexchange.netlify.app/

GitHub Repo Link : https://github.com/Sanyam2000-dot/currency-exchange


This project has more scope of improvements in terms of securits of the routes.